
.howitwork{
	height: 1200px;
}
.header{
	height: 250px;
}
.first__row{
	margin-left: 731px;
	
}
.intre__line{

	font-family: GothamBook.ttf;
	font-size: 25px;
	letter-spacing: 4px;
	color: #4285F4;
	

	
}
.howitwork__contenttext{
		font-family: 'Montserrat', sans-serif;
		font-size: 23px;
		width: 620px;
		left: 1190px;
		margin-top: 65px;
		position: absolute;
		z-index: 100;

}
.firstrow{
	margin-left: 70%;
	height: 300px;

}
.howitwork__heardertext{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 25px;
	position: absolute;
	z-index: 1;
	margin-top: 15px;
	margin-left: 30%;
	width

}
.secondrow{
	margin-top: -50px;
}
.secondrow .intre__line{
	margin-left: 740px;
	margin-top: 75px;
	position: absolute;
	z-index: 1;
	letter-spacing: 4px;
}
.secondrow .howitwork__heardertext{
	margin-left: 470px
}
.secondrow .howitwork__contenttext{
	left: 38px;
	width: 702px;
}
.secondrow img{
	margin-left: 1005px;
	margin-top: 40px;
}
.thirdrow{
	margin-left: 741px;
	height: 300px;
	margin-top: 170px;
}
.main__line{
	height: 779px;
	width: 2px;
	background-color: rgba(112,112,122,0.6);
	position: absolute;
	z-index: -1;
	margin-left:50%;
	margin-top: 220px;
}
.thirdrow .howitwork__heardertext{
	margin-left: 18px;
}
.thirdrow .howitwork__contenttext{
	margin-left: 10px;
}
.headertext{
	position: absolute;
	z-index: 1;
	width:30%;
	margin-left: 67%;
	margin-top: 250px;
	font-size: 25px;

}
.contenttext{
	margin-top: 30px;
	width:30%;
	position: absolute;
	z-index: 1;
	margin-top: 290px;
	margin-left: 67%;
	font-size: 23px; 

}

#doi{
	margin-top: 830px;
}
#doi + .contenttext{
	margin-top: 860px;
}	

#three{

	margin-left: 2%;
	margin-top: 520px;
}

#three + .contenttext{
	margin-top:560px;
}
.headertext{
	font-weight: bold;
	text-align: right;
}
.second__howitwork{
	position: absolute;
	z-index: 1;
	margin-left: 55%;
	margin-top: 540px;
}
.third__howitwork{
	position: absolute;
	z-index: 111;
	margin-left: 39%;
	margin-top:820px;
}
.first__howitwork{
	
	position: absolute;
	z-index: 2;
	margin-left: 40%;
	margin-top: 240px;
}
.howitwork__lines{
	position: absolute;
	z-index: 1;
	font-size: 2
}
.howitwork__lines{
	position: absolute;
	z-index: 1;
	font-size: 150%;
	margin-left: 53%;
	margin-top: 273px;
}
/*.block{
	position: absolute;
	z-index: 1;
	margin-left: 67%;
	margin-top: 261px;
}*/

.vertical__line1{
	width: 4px;
	height: 170px;
	background-color: #4285F4;
	position: absolute;
	z-index: 777;
	margin-left: 65%;
	margin-top: 255px;
}
.vertical__line2{
	width: 4px;
	height: 170px;
	background-color: #4285F4;
	position: absolute;
	z-index: 777;
	margin-left: 32%;
	margin-top: 510px;
}
.vertical__line3{
	width: 4px;
	height: 160px;
	background-color: #4285F4;
	position: absolute;
	z-index: 777;
	margin-left: 64%;
	margin-top: 820px;
}
.circle1{
	width: 30px;
	height: 30px;
	background-color: #4285F4;
	border-radius: 50%;
	border: 5px solid #ADEFF3;
	position: absolute;
	z-index: 777;
	margin-left: 49.13333%;
	margin-top: 283px;

}
.circle2{
	width: 30px;
	height: 30px;
	background-color: #4285F4;
	border-radius: 50%;
	border: 5px solid #ADEFF3;
	position: absolute;
	z-index: 777;
	margin-left: 49.3%;
	margin-top: 580px;

}
.circle3{
	width: 30px;
	height: 30px;
	background-color: #03DB2E;
	border-radius: 50%;
	border: 5px solid #ADEFF3;
	position: absolute;
	z-index: 777;
	margin-left: 49.3%;
	margin-top: 853px;

}	
#second {
	margin-left: 36%;
	margin-top: 575px;
}
#third{
	margin-left: 53,4%;
	margin-top: 850px;
}



@media only screen and (max-width: 1169px) {
	.third__howitwork {
	position: absolute;
	z-index: 111;
	margin-left: 37%;
	margin-top:820px;
}
.howitwork__lines {
		margin-top: 283px;
		font-size: 100%;
		margin-left: 55%;
}
}

