

.Homepage__content{
	width: 100%;
	height: 950px;
	background-size: 100% 950px;
	background-repeat: no-repeat;
	
	background-image: url(img/slide1.jpg);

}


@font-face{  
	font-family: bahnschrift;
	src:url(fonts/bahnschrift.ttf);
	font-family:GothamBold.ttf;
	src:url(../fonts/GothamBold.ttf);
	font-family: GothamBook.ttf;
	src:url(fonts/GothamBook.ttf);
	font-family:segoeuil;
	src:url(fonts/segoeuil.ttf); 
	
	

}

.navbar-nav{
	font-family: 'Montserrat', sans-serif;
	margin-left: 42%; /* Aici si mai jos */
	font-size: 20px; 

}
.navbar-nav a{
	margin-left: 25px;
	color: #fff;
}

hr{
	background-color: white;
}
.background__blur{
	margin-top: 340px;
	width: 684px;
	height: 202px;
	background-color: rgba(0, 0, 0 ,0.9);
	background-size: 684px 202px;
	-webkit-filter: blur(100px);filter: blur(2px);
	margin-left: 115px;

}
.color__plus{
	
	position: absolute;
	z-index: 100;
	font-size: 50px;
	font-weight: 900;
	margin-top: 270px;
	margin-left: 30px;
	color: #72FFD9;

}
.blur__header{
	font-size: 40px;
	color: #FFF3C1;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	z-index: 100;
	position: absolute;
	margin-top: 305px;
	margin-left: 80px;
	letter-spacing: 3px;

}
.blur__subheader{
	font-size: 25px;
	color: white;
	font-family: 'Roboto', sans-serif;
	z-index: 100;
	position: absolute;
	font-weight: 300;
	width: 600px;
	margin-top: 380px;
	margin-left: 37px;
	line-height: 40px;

}
.blur__text{
	margin-top: 40px;
	margin-left: 115px;
}
.main__text{
	font-family:segoeuil;
	font-size: 80px;
	color: white;
	position: absolute;
	z-index: 100;
	width: 870px;
	text-align: center;
	line-height: 90px;
	margin-top: 35px;
}
.Advantages{
	width: 100%;
	height: 800px;
	background-color: #100E0D;
}
.advantages__plus{
	color:  #72FFD9;;
	font-size: 60px;
	font-weight: 900;
	margin-left: 20px;

}
.icon__group{

}

.advantages__title{
	margin-left: 20px;
	font-size: 40px;
	color: white;


}
.icon__text{
	font-family:segoeuil;
	font-size: 30px;
	color: white;
	line-height: 45px;
	letter-spacing: 2px;
	margin-left: 95px;
}
#firstline{
	margin-top: 60px;
	margin-bottom: 40px;
}
#group{
	margin-top: 40px;
}
@media screen and (max-width: 1544px) {
  .Advantages{
	width: 100%;
	height: 1000px;
	background-color: #100E0D;
}
}
@media screen and (max-width: 1244px) {
  .Advantages{
	width: 100%;
	height: 1300px;
	background-color: #100E0D;
}
}
.who{
	width: 100%;
	height: 850px;
}
.firstline__title{
	margin-left: 140px;
	width: 536px;
	height: 2px;
	background-color: black;
}
.line__title1{
	margin-top: 40px;
	position: absolute;
	z-index: 1;
	width: 30%;
	height: 12px;
	background-color: black;
	margin-left: 80px;
}
.line__title2{
	margin-top: 40px;
	position: absolute;
	z-index: 1;
	width: 30%;
	height: 12px;
	background-color: black;
	margin-left: 68%;
	
}
.between__text{
	position: absolute;
	z-index: 1;
	margin-left: 41%;
	width: 400px;
	font-family: 'Montserrat', sans-serif;
	font-size: 61px;
	text-align: center;
	line-height: 60px;
}

@media only screen and ( max-width: 1660px) {
	.between__text {
		margin-left: 34%;
		font-size: 50px;
}
	.line__title1{
		margin-left: 0px;
	}
}
@media only screen and (max-width: 600px) {
	.between__text {
		position: absolute;
	z-index: 1;
	margin-left: 10%;
	width: 400px;
	font-family: 'Montserrat', sans-serif;
	font-size: 21px;
	text-align: center;
	line-height: 60px;

}		
	.line__title1{
		margin-left: 0px;
	}
}

#example{
	position: absolute;
	margin-top: 200px;
	padding-right: 10%;
	padding-left: 10%;
		
}
.card__text{
	
	text-align: center;
	font-family: GothamBook.ttf;
	font-size: 30px;


}

}
.card__img img{
	margin-left: 55%;
}
@media only screen and (max-width: 1920px) {
	.card__img img{
	margin-left: 39%;
}
.bg__footer form{
	display: flex;
	justify-content: center;

	}
}
@media only screen and (max-width: 1169px) {
	.card__img img{
	margin-left: 45%;
}
}

.portofolio{
	width: 100%;
	height: 1080px;
	background-image: url(img/portofolioimg.png);
}
.portofolio__header{
	font-family: bahnschrift;
	font-size: 100px;
	letter-spacing: 4px;
	text-align: center;
	color: white;
	padding-top: 50px
}
.portofolio__subheader{
	
	width: 666px;
	color: white;
	font-family: GothamBook.ttf;
	font-size: 17;
	margin-left: 32%;
	text-align: center;
}
.portofolio img{

	margin-top: 100px;
}
.offer{
	width: 100%;
	height: 1080px;
	background-image: url(img/offerimage.png);
}
.bg__effect{
	width: 100%;
	height: 1080px;
	background-color: rgba(19, 2, 2,0.39);
	position: absolute;
	z-index: 0;
}
.bg__effect img{
	margin-top: 43px;
	margin-left: 121px;
	position: absolute;
	z-index: 1;
}
.offer__title{

}
/*------Portofolio--------*/

.site-content img,object{
	width: 500px;
	height: 300px;
	margin: 20px;
	box-shadow: 20px;
	
	
}
.site-content object{
	border: 1px solid #FFCA28;
	border-radius: 10px;
}
.site-content{
	display: flex;
	justify-content: center;

	
}

.library a {
	display: inline-block;
	width: 400px;
	height: 200px;

}
@media only screen and (max-width: 1064px) {
    .site-content img,object{
	width: 460px;
	height: 280px;
	margin: 20px;
	box-shadow: 20px;
	
	
}
}


/*Portofolio-END*/
.library img {
	
	max-width: 100%;

}




@media only screen and (max-width: 1446px) {
    .video__gallery{
	margin-left: 5%;
}

}
@media only screen and (max-width: 1174px) {
    .video__gallery{
	margin-left: -2%;
}
}

.pack__header{
	width: 522px;
	color: white ;
	font-size: 60px;
	font-family:GothamBold.ttf;
	font-weight: 700;
	margin-left: 40px;
	padding-bottom: 10px;
	
}
.pack2{
		width: 600px;
	height:100%;
	background-image: url(img/png.png);
	background-size: 500px 700px;
	background-repeat: no-repeat;
}
.pack1{
	margin-left: 10%;
}
.pack2{
 margin-left: 10%;
}
.pack__text{
	font-family: GothamBook.ttf;
	font-size: 28px;
	font-weight: 500;
	color: white;
	margin: 0px;
	line-height: 60px;
	width: 500px;

}
.pack__subheaderplus{
	margin-left: 35%;
	font-size: 60px;
	color: white;
	font-weight: 900;
	line-height: 40px;
}
.pack__subheader{
	color: white;
	font-size: 45px;
	font-weight: 700;
	margin-left: 10%;
	line-height: 20px;
}

.pack1 button{
	width: 344px;
	height: 88px;
	
	background: url(img/bpack.png);
	background-repeat: no-repeat;
	
	margin-left: 70px;
	margin-top: 90px;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 45px;
	color: white;

}
.pack1 button:hover{
	box-shadow: 0px 0px 4px 8px rgba(0,0,0,0.5) inset;
	cursor: pointer;

}

.bg__blur{
	width: 801px;
	height: 219px;
	background-image: url(img/offerblur1.png);
	margin-top: 43px;
	margin-left: 121px;

}
.pack2 button{
	width: 344px;
	height: 88px;
	
	background: url(img/bpack.png);
	background-repeat: no-repeat;
	
	margin-left: 70px;
	margin-top: 90px;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 45px;
	color: white;
}
.pack2 button:hover{
	box-shadow: 0px 0px 4px 8px rgba(0,0,0,0.5) inset;
	cursor: pointer;
}
img{
	pointer-events: none;
}
.package{
	width: 100%;
	height: 1080px;
}
.pack1{
	width: 100%;
	height:100%;
	background-image: url(img/pack1.png);
	background-size: 500px 700px;
	background-repeat: no-repeat;
}
#r1{
	font-family: GothamBook.ttf;
	font-size: 70px;
	color: white;
	text-align: center;
	letter-spacing: 2px;
	line-height: 80px;
}
#r2{
	font-family:GothamBold.ttf;
	color: white;
	font-weight: 700;
	font-size: 70px;
	letter-spacing: 3px;
	text-align:center;
}
.footer{
	


}
.bg__footer a{
	margin-left: 8%;
	font-size: 18px;
}
.group_link{
	margin-left: 20%;
}
.bg__footer{
	width: 100%;
	height: 150px;
	background-color: black;
}
.bg__footer button{
	width: 200px;
	height: 40px;
	background-color: black;
	border-radius: 1px white solid;
	color: white;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	margin-left: 1%;
}
.bg__footer form{
	margin-top: 1%;
	margin-left: 70%;
}
.bg__footer h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: rgba(255,255,255,0.9);
	font-size: 46px;
	margin-left: 5%;
	cursor: pointer;
	
}

@media only screen and (max-width: 988px) {
	.group_link{
		margin-left: 1	%;
	}
	.bg__footer form{
	margin-left: -1%;
}

 
  
 
   input{
   	background-color: rgba(0,0,0,0);
   	font-size: 30px;
   	color: white;
   	border:solid 1px white;
   	border-radius: 15px;
	padding-left: 10px;
   	
   }

	
}
.bg__form{
		
	width: 500px;
	height: 600px;
	background-color: rgba(0,0,0,0.5);
	margin-top: 100px;
	margin-left: 40%;
	

}

.bg__offer{

	
	width:400px;
	height: 200px;
	background-color: red;
	margin-top: 145px;
	

}

.offer img{
	margin-left: 30%;
	
	
}
@media  screen and  (max-width: 1541px) {
	 .bg__form{
    
    	margin-left: -25%;

   	
    }
    .bg__offer{

	
	width:400px;
	height: 200px;
	background-color: red;
	margin-top: 145px;
	margin-left: -10%;

}
.offer img{
	margin-left: 15%;
	
	
}
}
@media only screen and (max-width: 991px) {
    .bg__offer{
    	margin-top: 150px;
    	margin-left: 28.5%;

    }
    .bg__form{
    	margin-top: 20px;
    	width: 500px;
    	margin-left: 23%;
    	
    }
    .offer img{
    	left:28%;
    }
    .offer{
    	height: 1300px;
    }
}







.button_form{
		margin-top: 20%;
		margin-left: 2%;
		background-color: #FF9900;
		border: none;
		color: white;
		font-family: 'Montserrat', sans-serif;
		font-size: 40px;
		font-weight: bold;
		border-radius: 10px;

	}
	form button{
		width: 280px;
		height: 70px;
	}
		form button:hover{
			color: black;
			cursor: pointer;
			transition: .5s;
		}
	.box{
		width: 500px;
		background-color: none;
		height: 600px;
		border: 1px solid white;

	}
	form{
		margin-left: 18%;
		

	}
	input{
		width: 300px;
		background: none;
		background-color: rgba(0,0,0,0.0);
		border: none;
		border-bottom: 1px solid white;
		text-align: center;
		color: white;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		letter-spacing: 2px;
	}

	.input_text{
	margin: 0px;
	margin-top: 20px;
	text-align: center;
	margin-left: -28%;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	color: white;
	}
		
.nume_form{
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	font-size: 30px;
	margin-left: 34%;
	color: white;
}
#nume1{

}
#nume2{
	margin-left: 28%;
}
